<% include ./partials/header.ejs%>

<a href="https://www.twinword.com/api/sentiment-analysis.php">Sentiment Analysis</a>
<a href="https://market.mashape.com/andyreagan/hedonometer"></a>
<% include ./partials/footer.ejs %>
