<% include ./partials/header.ejs%>

<% if ( message.length > 0 ) { %>
   <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Today's Results</h4>
      </div>
      <div class="modal-body"> 
<div id='alertBox' class="alert alert-danger"><%= message%></div>
       </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
<% } %>

<h2>Login</h2>

<form method="post" action="/login">
  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control col-med-4" type="text" name="email" id="email">
  </div>

  <div class="form-group">
    <label for="email">Password</label>
    <input class="form-control col-med-4" type="password" name="password" id="password">
  </div>

  <input class="btn btn-default" type="submit">
</form>

<% include ./partials/footer.ejs %>