<% include ./partials/header.ejs%>
    <div id="myModal" class="modal fade" tabindex='-1' role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" onclick='location.href="/"' aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Todays Results</h4>
      </div>
      <div class="modal-body">

<!-- modal content will be appended here -->
      </div>
      <div class="modal-footer">
        <button type="button" onclick='location.href="/"' class="btn btn-primary">Now get to it!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->


<form class="container-fluid col-md-offset-2" method="POST" action="/questionaire">
  <div class="form-group col-md-10">
    <label> What has been on your mind today / General statement </label>
    <input id="q1" type="textarea" class="form-control" name="q1">
  </div>
  <div class="form-group col-md-10">
    <label><%=currentUser.goals[0] %></label>
    <input id="q2" type="textarea" class="form-control" name="q2">
  </div>
  <div class="form-group col-md-10">
    <label><%=currentUser.goals[1] %></label>
    <input id="q3" type="textarea" class="form-control" name="q3">
  </div>
  <div class="form-group col-md-10">
    <label><%=currentUser.goals[2] %></label>
    <input id="q4" type="textarea" class="form-control" name="q4">
  </div>

  <button type="submit" id="btn" class="btn btn-success col-xs-2 col-md-offset-1" >Submit</button>
</form>


<% include ./partials/footer.ejs %>