<% include ./partials/header.ejs%>


<h1 class="text-center">Register</h1><br>

<!-- User creates account-->
<form class="form-horizontal" method="post" action="/users" id="registerAccount">
  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="name" placeholder="Name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" name="email" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" name="password" class="form-control" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <div class="checkbox">
      <h4>Motivation categories <small>Select up to 3</small></h4>
        <label class="col-sm-3"> <input name="goals" type="checkbox" value="Exercise"> Exercise</label>
        <label class="col-sm-3"> <input name="goals" type="checkbox" value="Diet"> Diet </label>
		<label class="col-sm-3"> <input name="goals" type="checkbox" value="Quit Smoking"> Quit Smoking </label>
		<label class="col-sm-3"> <input name="goals" type="checkbox" value="Personal Projects"> Personal Projects </label>
		<label class="col-sm-3"> <input name="goals" type="checkbox" value="Learning a Language"> Learning a Language </label>
		<label class="col-sm-3"> <input name="goals" type="checkbox" value="Post more Memes"> Post more Memes </label>
		<label class="col-sm-3"> <input name="goals" type="checkbox" value="charity work"> Charity Work </label>
		<label class="col-sm-3"> <input name="goals" type="checkbox" value="Code like a ninja"> Code like a ninja </label>
		<label class="col-sm-3"> <input name="goals" type="checkbox"> Other <u>[text box]</u> </label>
        
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" value="submit" class="btn btn-success">Register</button>
    </div>
  </div>
</form>




<% include ./partials/footer.ejs %>