html{
	padding:40px;
	height: 100%;
}
body{
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
h1{
	color: #c0c6d9;
}
h1 small{
	color: #BB76FF;
}
h2{
	color: #c0c6d9;
}
img{
	opacity: .45;
}
.googleGraph{
	opacity: .65;
	height: 200px;
	border-radius: 20px;
}

.panel{
	opacity: .8;
	background: linear-gradient(140deg, #1b2f74, #467c9b);

}
.panel-heading{
	opacity: .9;
	background: linear-gradient(40deg, #467c9b, #1b2f74);
}
.panel-body{
	color: white;
}


#alerBox{
	display: none;
}
.checkbox{
	padding: 40px;
	background: #c0c6d9;
	opacity: .85;
	font-opacity: .95;
	color: black;
	border:4px lightgray solid;
}

.navbar{
	background: linear-gradient(140deg, #c0c6d9, #a79f98);
}
a{
	color:#BB76FF;
}
body.modal-open div.modal-backdrop {
    z-index: 1;
}
div.modal-body{
	max-height: 400px;
    overflow: auto;
}
#myModal{
	position: fixed;
}

.pull-down{
	vertical-align: bottom;
	position: relative;
	top: 160px;
}