html{
	padding:40px;
}
body{
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
h1{
	color: #c0c6d9;
}
h1 small{
	color: #BB76FF;
}
h2{
	color: #c0c6d9;
}
img{
	opacity: .45;
}
.panel{
	opacity: .8;
	background: linear-gradient(140deg, #1b2f74, #467c9b);

}
.panel-heading{
	opacity: .9;
	background: linear-gradient(40deg, #467c9b, #1b2f74);
}
.panel-body{
	color: white;
}

form{
	width:70%;
}
#alerBox{
	display: none;
}
.checkbox{
	background: #c0c6d9;
	opacity: .6;
	font-opacity: .9;
	color: black
}
.navbar{
	background: linear-gradient(140deg, #c0c6d9, #a79f98);
}
a{
	color:#BB76FF;
}